header{
	background-color: #00A10D;
}
img{
	border:solid 5px black;
}
footer{
	background-color: #00A10D;
	text-align:center;
	color:white;
	height:50px;
}
.space{
	background-color: #00A10D;
}
.one{
	border:solid 5px black;
	height:150px;
	text-align:center;
}
.two{
	border:solid 5px black;
	margin:15px 50px 15px 50px;
	padding:100px 5px;
	background-color: white;
	position:center;
}
.three{
	margin-right:0;
	padding:30px 0 30px 65px;
}
.what{
	border:solid 5px black;
}
.resize{
	width:70%;
	height:auto;
	margin:15px 50px 15px 50px;
}
.left{
	color:white;
}
/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}
@media(min-width: 768px){
	.one{
		margin:30px 20px 30px 125px;
	}
	.resize{
		width:70%;
		height:auto;
		margin:50px 0 15px 85px;
	}
	.two{
		border:solid 5px black;
		margin:15px 0 15px 85px;
		padding:100px 5px;
		background-color: white;
	}
	.left{
		padding-right:1000px;
	}
	footer{
		height:125px;
	}
}